@import url('https://fonts.googleapis.com/css?family=Inter&family=Instrument+Serif');


* {
    color: #FFBD4F;
}

.caps {
    text-transform: uppercase;
}

a:link {
    color: #FFBD4F;
}

a:visited {
    color: #FFBD4F;
}

a:hover {
    color: aqua;
}

a:active {
    color: blue;
}



.cookie-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #313436;
    color: #FFBD4F;
    text-align: center;
    padding: 16px;
    z-index: 9999;
}


#acceptCookies {
    display: none;
}

#acceptCookies:checked+.cookie-message {
    opacity: 0;
    pointer-events: none;
}

/*makes the label a button*/
label.button {
    background-color: #267F50;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

label.button:hover {
    background-color: #1A623D;
}

body {
    background-color: #1A623D;
    margin: 0px;
    letter-spacing: normal;
    line-height: normal;
    text-indent: 5px;
    word-spacing: normal;
}

.plaatje {
    width: 75%;
    height: auto;
    display: block;
}

.groot {
    width: 40%;
    height: auto;
    display: block;
}

body>header,
footer,
main {
    background-color: #3A3F42;
    padding: 0px;
    margin-left: 150px;
    margin-right: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Instrument Serif", serif;
    margin: 0px;
    padding: 0px;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-width: 3px;
    border-color: black;
    border-style: double;
}

header>nav {
    border-width: 3px;
    border-color: black;
    border-style: double;
}

.list {
    display: flex;
    flex-direction: column;
}

.list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type="submit"],
input[type="radio"] {
    background-color: #267F50;
}

@media (min-width: 769px) {
    .mobile-picture {
        display: none;
    }

    .desktop-picture {
        display: block;
        display: flex;
        justify-content: center;
    }

    .please {
        float: right;
        width: 25%;
        height: auto;
    }

    .so {
        float: left;
        width: 40%;
    }

    .article {

        margin-bottom: 35px;
    }

    .column {
        float: left;
        width: 35%;
        padding: 5px;
        height: auto;
    }

    .ugh {
        position: static;
    }

    body>header,
    footer,
    main {
        background-color: #3A3F42;
        padding: 0px;
        margin-left: 150px;
        margin-right: 150px;
    }

    .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        border-width: 3px;
        border-color: black;
        border-style: double;
    }
}


@media (max-width: 768px) {
    .mobile-picture {
        display: block;
        width: 75%;
        height: auto;

    }

    .desktop-picture {
        display: none;
    }

    body>header,
    footer,
    main {
        background-color: #3A3F42;
        padding: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .main-nav {
        border-width: 3px;
        border-color: black;
        border-style: double;
    }
}

