@import url('https://fonts.googleapis.com/css?family=Inter&family=Instrument+Serif');


* {
    color: #FFBD4F;
}

.caps {
  text-transform: uppercase;
}

a:link {
  color: #FFBD4F;
}

a:visited {
  color: FFBD4F;
}

a:hover {
  color: aqua;
}

a:active {
  color: blue;
}



.cookie-message {
      position: fixed;       
      bottom: 0;            
      left: 0;
      width: 100%;          
      background-color: #313436;
      color: #FFBD4F;           
      text-align: center;
      padding: 16px;
      z-index: 9999;         
    }

    
      #acceptCookies {
      display: none;
    }
    #acceptCookies:checked + .cookie-message {
      opacity: 0;
      pointer-events: none;
    }

  /*make the label a button*/
    label.button {
      background-color: #267F50;
      padding: 4px 8px;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      margin-left: 10px;
    }

    label.button:hover{
        background-color: #1A623D;
    }
    
body {
    background-color: #1A623D;
    margin: 0px;
  letter-spacing: normal;
  line-height: normal;
  text-indent: 5px;
  word-spacing:normal;
}

.plaatje {
    width: 75%;
    height: auto;
    display: block;
}

.groot{
    width: 40%;
    height: auto;
    display: block;
}

body>header,
footer,
main {
    background-color: #3A3F42;
    padding: 0px;
    margin-left: 150px;
    margin-right: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Instrument Serif", serif;
    margin: 0px;
    padding: 0px;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-width: 3px;
    border-color: black;
    border-style: double;
}

header>nav {
    border-width: 3px;
    border-color: black;
    border-style: double;
}

.list {
    display: flex;
    flex-direction: column;
}

.list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type="submit"],
input[type="radio"] {
    background-color: #267F50;
}

@media (min-width: 769px) {
    .mobile-picture {
        display: none;
    }
    .please{
    float:right;
    width:25%;
    height: auto;
}
.so{
    float: left;
    width: 40%;
}

    .desktop-picture {
        display: block;
        display: flex;
        justify-content: center;
    }

    .article{
        
        margin-bottom: 35px;
    }
    .column {
        float: left;
        width: 35%;
        padding: 5px;
        height: auto;
    }

    .ugh{
        position: static;
    }

    body>header,
    footer,
    main {
        background-color: #3A3F42;
        padding: 0px;
        margin-left: 150px;
        margin-right: 150px;
    }

    .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        border-width: 3px;
        border-color: black;
        border-style: double;
    }
}


@media (max-width: 768px) {
    .mobile-picture {
        display: block;
        width: 75%;
        height: auto;

    }

    .desktop-picture {
        display: none;
    }

    body>header,
    footer,
    main {
        background-color: #3A3F42;
        padding: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .main-nav {
        border-width: 3px;
        border-color: black;
        border-style: double;
    }
}


/*smaller pictures*/

/*footer connected to the main*/

/*Margin/padding/border? 1A623D radio button 267F50 mes grid garden for border and main? mobile 20% and 80%? text rechts maar beetje in het midden image bit smaller than the actual page,
like 75 % of the main?*/

/*use img in aside tag and float to get it to the right aside width: 30%;
padding-left: 15px;
margin-left: 15px;
float: right;*/


/*add a small icon which size is definded in a footer property.
how do we put those next to eachother?*/

/*use a class property to make a space between the footer and article content? */

/*I do maybe still need the mobile versions*/


/*Desperately need to change the size of the pictures.*/